body
{
    background-image: url(assets/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.clock-container
{
    backdrop-filter: blur(10px);
    width: 100vw;
    padding: 10px 0;
}

.clock
{
    text-align: center;
    color: white;
    font-size: 6rem;
    font-weight: bold;
    font-family: monospace;
    text-shadow: 4x 4x 10px black;
}

